<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Abhishek Dutta</h1>
		<p>Welcome to our Ecommerce Website</p>
		<p>This week I built a ecommerce store in Rails 4. Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter or on the web, and get my posts and exclusive content in your inbox by signing up for my newsletter 
		</p>
	</div>
</div>